/*
 Reset for older browsers
 */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 /*End of reset*/
 html,body,div,ul,section,span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
 /*div {
 	border: 1px solid Chocolate;
 	}*/
 	body {
 		font-family: 'Roboto', sans-serif;
 		-webkit-font-smoothing: antialiased;
 		background-color: LightGray;
 	}
 	.mainheader {
 		background-color: #fff;
 		width: 100%;
 		z-index: 9999;
 		border-bottom: 1px solid #DDD;
 		overflow:auto;
 	}
 	.mainheader .content {
 		width: 970px;
 		height: 150px;
 		margin: 0 auto;
 		text-align: center;
 	}
 	.mainheader h1 {
 		font-family: 'Roboto', sans-serif;
 		letter-spacing: 0.03em;
 		margin-top: 0.7rem;
 	}
   .mainheader .heading-text {
 	font-size: 1.5rem;
 	margin-top: 0.7rem;
 	font-family: 'Roboto', sans-serif;
 	letter-spacing: 0.03em;
 	-webkit-font-smoothing: antialiased;
 	}
 	.mainheader .logo {
 		margin-top: 1.5rem;
 	}
 	.navigation {
 		background-color: #fff;
 		/*position: fixed;*/
 		width: 100%;
 		border-bottom: 1px solid #DDD;
 		z-index: 9999;
 		overflow:auto;
 	}
 	.navigation .content {
 		width: 970px;
 		height: 150px;
 		margin: 0 auto;
 		text-align: center;
 		margin-top: 1.7rem;
 		margin-left: 30rem;
 	}
 	.navigation .circle1 {
 		display: block;
 		height: 100px;
 		width: 120px;
 		line-height: 50px;

 		-moz-border-radius: 100px; /* or 50% */
 		border-radius: 100px; /* or 50% */

 		background-color: purple;
 		color: white;
 		text-align: center;
 		font-size: 1rem;
 		margin-top: 0.5rem;

 	}
 	.navigation .circle2 {
 		display: block;
 		height: 100px;
 		width: 120px;
 		line-height: 80px;

 		-moz-border-radius: 100px; /* or 50% */
 		border-radius: 100px; /* or 50% */

 		background-color: Yellow;
 		color: black;
 		text-align: center;
 		font-size: 1rem;
 		margin-top: 0.5rem;

 	}
 	.navigation .circle3 {
 		display: block;
 		height: 100px;
 		width: 140px;
 		line-height: 45px;

 		-moz-border-radius: 100px; /* or 50% */
 		border-radius: 100px; /* or 50% */

 		background-color: #00FF00;
 		color: white;
 		text-align: center;
 		font-size: 1rem;
 		margin-top: 0.5rem;

 	}
 	.navigation span {
 		margin-top: 1.5rem;
 	}
 	.navigation .icons li {
 		display: inline-block;
 		margin-left: 2.68rem;
    /* To align the icons left and right with width property
    for ex, try increasing the width property &*/ 
    width: 28%;
    float: left;
}
li {
	display: list-item;
}
.maincontent {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
	overflow: auto;
}
.maincontent .content {
	width: 970px;
	height:1000px;
	margin: 0 auto;
	text-align: center;
}
.maincontent input {
	margin-top: 1.5rem;
	border-radius: 7px;
}
#item {  
	height: 35px; 
	width: 250px; 
	vertical-align: center; 
}
button {
	background-color: #DDA0DD;
	font-size: 18px;
	border-radius: 5px;
}
.maincontent .list { 
	margin-top: 0.5rem; 
	padding: 5px 5px 5px 15px; 
	list-style: none;
	margin-top:2rem;
	width: 500px;  
	text-align: center;
} 
.maincontent .list li { 
	font-size: 24px;  
	cursor: pointer; 
	line-height: 30px;

} 
span { 
	margin: 0; 
}  

.maincontent .box { 
	float: left; 
	margin-top: 2rem; 
	height: 40px; 
	width: 250px; /* modify width to align items side by side*/
	border-radius: 5px;
	background-color: #00BFFF;
	color:BLACK;
	margin-left:5rem;
} 
.maincontent .delete { 
	float: right; 
	margin-top: 0.5rem;
	margin-right: 20px;
	display: none;   
} 
.strike {
	text-decoration: line-through;
}



